<%- include('../../includes/admin/top-with-style.ejs') %>
    </head>

    <body id="theme-default" class="full_block">


        <div id="left_bar">
            <%- include('../../includes/admin/side-menu.ejs') %>
        </div>

        <div id="container">
            <%- include('../../includes/admin/header-banner.ejs') %>
                <div class="page_title">
                    <span class="title_icon"><span class="folder"></span></span>
                    <h3>Edit News Item</h3>


                </div>


                <div id="content">
                    <div class="grid_container">
                        <%if (errors.length> 0) { %> <% errors.forEach(error=> { %>
                                <blockquote class="quote_orange">
                                    <p>
                                        <%- error.msg %>
                                    </p>
                                </blockquote>
                                <% }) %>
                                    <% } %>


                                        <%if (errorMessage) { %>
                                            <blockquote class="quote_orange">
                                                <p>
                                                    <%- errorMessage %>
                                                </p>
                                            </blockquote>
                                            <% } %>


                                                <%if (successMessage) { %>
                                                    <blockquote class="quote_green">
                                                        <p>
                                                            <%- successMessage %>
                                                        </p>
                                                    </blockquote>
                                                    <% } %>

                                                        <div class="grid_8 full_block">
                                                            <form action="<% if (item) { %>/news-room/edit/<%= item._id %><% } else { %>/news-room/add<% } %>"
                                                                method="POST" class="form_container left_label" enctype="multipart/form-data">
                                                                
                                                                <div class="widget_wrap">
                                                                    <div class="widget_top">
                                                                        <span class="h_icon list_image"></span>
                                                                        <h6>Edit News Room</h6>
                                                                    </div>
                                                                    <div class="widget_content">

                                                                        <div class="">
                                                                            <div>
                                                                                <ul>
                                                                                    <li>
                                                                                        <div class="form_grid_12">
                                                                                            <label
                                                                                                class="field_title">Title<span
                                                                                                    style="color: red">*</span></label>
                                                                                            <div class="form_input">
                                                                                                <div class="form-group">
                                                                                                    <input name="title"
                                                                                                        value="<%= userInput.title ? userInput.title : (item ? item.title : '') %>"
                                                                                                        type="text"
                                                                                                        class="form-control"
                                                                                                        title="Please enter a title"
                                                                                                        required />
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </li>

                                                                                    <li>
                                                                                        <div class="form_grid_12">
                                                                                            <label class="field_title">Image <span style="color: red">*</span></label>
                                                                                            <div class="form_input">
                                                                                                <div class="form-group">
                                                                                                    <div class="form-group">
                                                                                                       <input type="file" name="image" class="form-control" <%= item ? '' : 'required' %>>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                    </li>

                                                                                    <li>
                                                                                        <div class="form_grid_12">
                                                                                            <label class="field_title">Excerpt</label>
                                                                                            <div class="form_input">
                                                                                                <textarea name="excerpt"
                                                                                                    class="input_grow" cols="100" rows="6" tabindex="5"
                                                                                                    style="width: auto; height: auto; overflow: hidden;"><%= userInput.excerpt ? userInput.excerpt : (item ? item.excerpt : '') %></textarea>
                                                                                            </div>
                                                                                        </div>
                                                                                    </li>
                                                                       
                                                                                    

                                                                                    <li>
                                                                                        <div class="form_grid_12">
                                                                                            <label
                                                                                                class="field_title">Content</label>
                                                                                            <div class="form_input">
                                                                                                <textarea name="content"
                                                                                                    value="<%= userInput.content ? userInput.content : (item ? item.content : '') %>"
                                                                                                    class="input_grow"
                                                                                                    cols="100" rows="6"
                                                                                                    tabindex="5"
                                                                                                    style="width: auto; height: auto; overflow: hidden;"><%= userInput.content ? userInput.content : (item ? item.content : '') %></textarea>
                                                                                            </div>
                                                                                        </div>
                                                                                    </li>
                                                                                </ul>


                                                                            </div>
                                                                            <div class="modal-footer">
                                                                                <button type="submit"
                                                                                    class="btn btn-primary"><%= item ? 'Edit' : 'Add' %>
                                                                                    Item</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>

                    </div>
                    <span class="clear"></span>
                </div>

        </div>
    </body>




    </html>