<!DOCTYPE html>
<html
	class="no-js"
	lang="zxx">
	<head>
		<%- include('../../includes/web/google-analytics.ejs') %>
		<meta charset="utf-8" />
		<meta
			http-equiv="x-ua-compatible"
			content="ie=edge" />
		<title>Doseal Limited | Pay Bill</title>
		<%- include('../../includes/web/meta.ejs') %> <%-
		include('../../includes/web/head.ejs') %>
		<body>
			<!--********************************
   		Code Start From Here
	******************************** -->

			<!--==============================
     Preloader
    ==============================-->
			<div class="preloader">
				<div class="preloader-inner">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div>
			</div>

			<%- include('../../includes/web/mobile-menu-and-top.ejs') %>
			<!--==============================
	Header Area
    ==============================-->
			<header class="nav-header header-layout3 bg-white">
				<%- include('../../includes/web/header.ejs') %>
			</header>

			<section class="shop__area space">
				<div class="container">
					<div class="shop__inner-wrap">
						<div class="row">
							<div class="col-100">
								<div class="row gy-60">
									<div class="col-sm-4">
										<div class="product-card">
											<div class="product-img">
												<img
													src="/assets/web/images/services/ecg.png"
													alt="ECG" />
												<div class="actions">
													<a
														href="/service-search"
														class="btn">
														<span class="link-effect">
															<span class="effect-1"
																>PAY FOR POSTPAID AND PREPAID</span
															>
															<span class="effect-1"
																>PAY FOR POSTPAID AND PREPAID</span
															>
														</span>
													</a>
												</div>
											</div>
											<div class="product-content">
												<h3 class="product-title">
													<a href="/service-search">Postpaid and Prepaid</a>
												</h3>
												<span class="price">Electricity</span>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="product-card">
											<div class="product-img">
												<img
													src="/assets/web/images/services/airtime.png"
													alt="Product Image" />
												<div class="actions">
													<a
														href="/airtime-and-bundle"
														class="btn">
														<span class="link-effect">
															<span class="effect-1">BUY AIRTIME & DATA</span>
															<span class="effect-1">BUY AIRTIME & DATA</span>
														</span>
													</a>
												</div>
											</div>
											<div class="product-content">
												<h3 class="product-title">
													<a href="/airtime-and-bundle">Airtime & Data</a>
												</h3>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="product-card">
											<div class="product-img">
												<img
													src="/assets/web/images/services/dstv.png"
													alt="DSTV Image" />
												<div class="actions">
													<a
														href="/search-utility-service?service=dstv"
														class="btn">
														<span class="link-effect">
															<span class="effect-1">PAY FOR DSTV</span>
															<span class="effect-1">PAY FOR DSTV</span>
														</span>
													</a>
												</div>
											</div>
											<div class="product-content">
												<h3 class="product-title">
													<a href="search-utility-service?service=dstv">DSTV</a>
												</h3>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="product-card">
											<div class="product-img">
												<img
													src="/assets/web/images/services/ghana-water.png"
													alt="Ghaan Water Image" />
												<div class="actions">
													<a
														href="/ghana-water"
														class="btn">
														<span class="link-effect">
															<span class="effect-1">PAY FOR GHANA WATER</span>
															<span class="effect-1">PAY FOR GHANA WATER</span>
														</span>
													</a>
												</div>
											</div>
											<div class="product-content">
												<h3 class="product-title">
													<a href="/ghana-water">Ghana Water</a>
												</h3>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="product-card">
											<div class="product-img">
												<img
													src="/assets/web/images/services/gotv.png"
													alt="GOtv Image" />
												<div class="actions">
													<a
														href="search-utility-service?service=gotv"
														class="btn">
														<span class="link-effect">
															<span class="effect-1">PAY FOR GOtv</span>
															<span class="effect-1">PAY FOR GOtv</span>
														</span>
													</a>
												</div>
											</div>
											<div class="product-content">
												<h3 class="product-title">
													<a href="search-utility-service?service=gotv">Gotv</a>
												</h3>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="product-card">
											<div class="product-img">
												<img
													src="/assets/web/images/services/star-time.png"
													alt="Product Image" />
												<div class="actions">
													<a
														href="/search-utility-service?service=startimestv"
														class="btn">
														<span class="link-effect">
															<span class="effect-1"
																>PAY FOR STAR TIMES TV</span
															>
															<span class="effect-1"
																>PAY FOR STAR TIMES TV</span
															>
														</span>
													</a>
												</div>
											</div>
											<div class="product-content">
												<h3 class="product-title">
													<a href="/search-utility-service?service=startimestv">Star Times TV</a>
												</h3>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="product-card">
											<div class="product-img">
												<img
													src="/assets/web/images/services/telecel-postpaid.png"
													alt="Telecel Postpaid" />
												<div class="actions">
													<a
														href="/search-utility-service?service=telecel_postpaid"
														class="btn">
														<span class="link-effect">
															<span class="effect-1"
																>Telecel Postpaid</span
															>
															<span class="effect-1"
																>PAY FOR TELECEL POSTPAID</span
															>
														</span>
													</a>
												</div>
											</div>
											<div class="product-content">
												<h3 class="product-title">
													<a href="/search-utility-service?service=telecel_postpaid">TELECEL POSTPAID</a>
												</h3>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="product-card">
											<div class="product-img">
												<img
													src="/assets/web/images/services/telecel-broadband.png"
													alt="Telecel broadband" />
												<div class="actions">
													<a
														href="/search-utility-service?service=telecel_broadband"
														class="btn">
														<span class="link-effect">
															<span class="effect-1"
																>Telecel Broadband</span
															>
															<span class="effect-1"
																>PAY FOR TELECEL BROADBAND</span
															>
														</span>
													</a>
												</div>
											</div>
											<div class="product-content">
												<h3 class="product-title">
													<a href="/search-utility-service?service=telecel_broadband">TELECEL BROADBAND</a>
												</h3>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- shop-area-end -->

			<footer class="footer-wrapper footer-layout2 overflow-hidden">
				<%- include('../../includes/web/footer.ejs') %>
			</footer>

			<!--********************************
			Code End  Here
	******************************** -->

			<!-- Scroll To Top -->
			<div class="scroll-top">
				<svg
					class="progress-circle svg-content"
					width="100%"
					height="100%"
					viewBox="-1 -1 102 102">
					<path
						d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"
						style="
							transition: stroke-dashoffset 10ms linear 0s;
							stroke-dasharray: 307.919, 307.919;
							stroke-dashoffset: 307.919;
						"></path>
				</svg>
			</div>

			<!-- Jquery -->
			<%- include('../../includes/web/jsfiles.ejs') %>
		</body>
	</head>
</html>
