<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <%- include('../includes/web/google-analytics.ejs') %>
    <meta charset="utf-8" />
    <meta
        http-equiv="x-ua-compatible"
        content="ie=edge" />
    <title>Doseal Limited | About Us</title>
    <%- include('../includes/web/meta.ejs') %>

   <%- include('../includes/web/head.ejs') %>

<body>
    <!--********************************
   		Code Start From Here
	******************************** -->




    <!--==============================
     Preloader
    ==============================-->
    <div class="preloader">
        <div class="preloader-inner">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    

    <%- include('../includes/web/mobile-menu-and-top.ejs') %>
    <!--==============================
	Header Area
    ==============================-->
    <header class="nav-header header-layout3 bg-white">
        <%- include('../includes/web/header.ejs') %>
    </header>

    <!--==============================
    Breadcumb
    ============================== -->
    <div class="breadcumb-wrapper" data-bg-src="assets/web/images/about_bg.webp">
        <div class="container">
            <div class="breadcumb-content">
                <h1 class="breadcumb-title">About Us</h1>
            </div>
        </div>
    </div>

    <!--==============================
    Counter Area 02
    ==============================-->
    <div class="counter-area-1 space overflow-hidden">
        <div class="container">
            <div class="row gy-40 align-items-center justify-content-lg-between justify-content-center">
                <div class="col-xl-auto col-lg-4 col-md-6 counter-divider">
                    <div class="counter-card">
                        <h4 class="counter-card_title">Innovative Solutions</h4>
                        <p class="counter-card_text">
                            As part of our roadmap, we are developing new solutions that will expand our product offerings and introduce advanced technologies like AI, blockchain, and IoT. 
                            These innovations will further enhance how you manage your energy and utilities, making the process even more efficient and sustainable.
                        </p>
                    </div>
                </div>
                <div class="col-xl-auto col-lg-4 col-md-6 counter-divider">
                    <div class="counter-card">
                        <h4 class="counter-card_title">Tech Trends</h4>
                        <p class="counter-card_text">At Doseal Technologies, we believe in the power of knowledge. 
                            Our Insights page is your go-to resource for the latest trends, news, and developments in the energy sector, particularly within Ghana and West Africa. </p>
                    </div>
                </div>
                <div class="col-xl-auto col-lg-4 col-md-6 counter-divider">
                    <div class="counter-card">
                      
                        <h4 class="counter-card_title">Our Passion Drives Us</h4>
                        <p class="counter-card_text">At Doseal Technologies, we are passionate about creating innovative solutions that make a real difference in people’s lives. 
                            Our team is a diverse group of thinkers, innovators, and problem-solvers who are dedicated to pushing the boundaries of what’s possible in the energy sector.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--==============================
    Why Choose Us Area
    ==============================-->
    <div class="why-area-1 space bg-theme">
        <div class="why-img-1-1 shape-mockup wow img-custom-anim-right" data-wow-duration="1.5s" data-wow-delay="0.2s" data-right="0" data-top="-100px" data-bottom="140px">
            <img src="assets/web/images/about_bg1.webp" alt="About background">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="title-area mb-20">
                        <h3 class="sec-title">Passionate About Creating Quality Products</h3>
                    </div>
                    <h4>Our Mission</h4>
                    <p>Our mission is to empower Ghana and West Africa with state-of-the-art energy management tools that drive efficiency, transparency, and sustainability. 
                        We aim to lead the way in digital transformation within the energy sector, making it easier for everyone to access, pay for, and manage their utilities.</p>
                    <h4 class="mt-35">Our Vision</h4>
                    <p class="mb-n1">We envision a future where technology bridges the gap between energy providers and consumers, creating a more connected and sustainable world. 
                        By continuously innovating and expanding our services, we strive to become the leading energy management solutions provider in West Africa.</p>
                </div>
            </div>

        </div>
    </div>

    <!--==============================
 
    Team Area
    ==============================-->
    <div class="team-area-1 space-bottom overflow-hidden">
      
        <div class="container" style="margin-top: 3em;">
            <div class="row gy-4 justify-content-center">
                <%- include('../includes/web/team.ejs') %>
            </div>
        </div>
    </div>

    <!--==============================
        Footer Area
    ==============================-->
    <footer class="footer-wrapper footer-layout2 overflow-hidden">
        <%- include('../includes/web/footer.ejs') %>
    </footer>

    <!--********************************
			Code End  Here
	******************************** -->

    <!-- Scroll To Top -->
    <div class="scroll-top">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;"></path>
        </svg>
    </div>


    <!-- Jquery -->
    <%- include('../includes/web/jsfiles.ejs') %>