<!DOCTYPE html>
<html
	class="no-js"
	lang="zxx">
	<head>
		<%- include('../includes/web/google-analytics.ejs') %>
		<meta charset="utf-8" />
		<meta
			http-equiv="x-ua-compatible"
			content="ie=edge" />
		<title>Doseal Limited | Downloads</title>
		<%- include('../includes/web/meta.ejs') %>

		<%- include('../includes/web/head.ejs') %>
		<body>
			<!--********************************
   		Code Start From Here
        ******************************** -->

			<!--==============================
        Preloader
        ==============================-->
			<div class="preloader">
				<div class="preloader-inner">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div>
			</div>

			<%- include('../includes/web/mobile-menu-and-top.ejs') %>
			<!--==============================
            Header Area
            ==============================-->
			<header class="nav-header header-layout1">
				<%- include('../includes/web/header.ejs') %>
			</header>

			<!--==============================
            Hero Area
            ==============================-->
			<div
				class="hero-wrapper hero-1"
				id="hero">
				<div class="container">
					<div class="hero-style1">
						<div class="row"></div>
					</div>
				</div>
			</div>
			<!--======== / Hero Section ========-->

			<!--==============================
    About Area
    ==============================-->
			<div class="about-area-1 space bg-theme">
				<div
					class="about-img-1-1 shape-mockup img-custom-anim-left wow"
					data-left="0"
					data-top="-100px"
					data-bottom="140px"
					data-wow-duration="1.5s"
					data-wow-delay="0.1s">
					<img
						src="assets/web/images/about_1-1.webp"
						alt="img" />
				</div>
				<div class="container">
					<div class="row align-items-center justify-content-end">
						<div class="col-lg-6">
							<div class="overflow-hidden">
								<div class="about-content-wrap">
									<div class="title-area mb-0">
										<h2 class="sec-title">Download Doseal Pay App</h2>
										<p class="sec-text mt-35">
											Manage all your essential services in one convenient place
											with Doseal Pay. Our app allows you to handle payments for
											Prepaid or Postpaid Electricity, Water, and more
											effortlessly.
										</p>
										<p class="sec-text mt-30">
											Easily top up Airtime and Data bundles across all
											networks. Stay connected with quick payments for DSTV,
											GoTV, StarTimes TV, and other services.
										</p>
										<div class="btn-wrap mt-50">
											<a
												href="https://apps.apple.com/us/app/doseal-pay/id6736710898"
												style="display: inline-flex; align-items: center"
												target="_blank">
												<img
													src="/assets/web/images/doseal-apple.png"
													alt="Apple logo"
													style="width: 200px" />
											</a>

											<!-- Download for Android -->
											<a
												href="https://play.google.com/store/apps/details?id=com.dosealpay"
												style="display: inline-flex; align-items: center"
												target="_blank">
												<img
													src="/assets/web/images/doseal-google.png"
													alt="Android logo"
													style="width: 200px" />
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="feature-area-1 space">
				<div class="container">
					<h2 style="text-align: center;">
						Need support?
					</h2>
					<div class="row gy-4 align-items-center justify-content-center">
						<div class="col-xl-4 col-md-6">
							<div class="feature-card">
								<div class="feature-card-icon">
									<img
										src="assets/web/img/icon/location-pin-alt.svg"
										alt="icon" />
								</div>
								<div class="feature-card-details">
									<h4 class="feature-card-title">
										<a href="javascript::void(0)">Our Office</a>
									</h4>
									<p class="feature-card-text mb-0">204 Abadlah Street,</p>
									<p class="feature-card-text mb-0">Miotso - Prampram,</p>
									<p class="feature-card-text">GN-0032-7003.</p>
								</div>
							</div>
						</div>
						<div class="col-xl-4 col-md-6">
							<div class="feature-card">
								<div class="feature-card-icon">
									<img
										src="assets/web/img/icon/speech-bubble.svg"
										alt="icon" />
								</div>
								<div class="feature-card-details">
									<h4 class="feature-card-title">
										<a href="project.html">Email Address</a>
									</h4>
									<p class="feature-card-text mb-0">info@doseal.org</p>
									<a
										href="mailto:info@doseal.org"
										class="link-btn">
										<span class="link-effect">
											<span class="effect-1">Send message</span>
											<span class="effect-1">Send message</span>
										</span>
										<img
											src="assets/web/img/icon/arrow-left-top.svg"
											alt="icon" />
									</a>
								</div>
							</div>
						</div>
						<div class="col-xl-4 col-md-6">
							<div class="feature-card">
								<div class="feature-card-icon">
									<img
										src="assets/web/img/icon/phone.svg"
										alt="icon" />
								</div>
								<div class="feature-card-details">
									<h4 class="feature-card-title">
										<a href="javascript::void(0)">Phone Number</a>
									</h4>
									<p class="feature-card-text mb-0">+233 241 746 563</p>

									<a
										href="tel:1800123654987"
										class="link-btn">
										<span class="link-effect">
											<span class="effect-1">Call anytime</span>
											<span class="effect-1">Call anytime</span>
										</span>
										<img
											src="assets/web/img/icon/arrow-left-top.svg"
											alt="icon" />
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!--==============================

        Footer Area
    ==============================-->
			<footer class="footer-wrapper footer-layout1 overflow-hidden bg-smoke">
				<%- include('../includes/web/footer.ejs') %>
			</footer>

			<!--********************************
			Code End  Here
	******************************** -->

			<!-- Scroll To Top -->
			<div class="scroll-top">
				<svg
					class="progress-circle svg-content"
					width="100%"
					height="100%"
					viewBox="-1 -1 102 102">
					<path
						d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"
						style="
							transition: stroke-dashoffset 10ms linear 0s;
							stroke-dasharray: 307.919, 307.919;
							stroke-dashoffset: 307.919;
						"></path>
				</svg>
			</div>

			<!-- Jquery -->
			<%- include('../includes/web/jsfiles.ejs') %>
		</body>
	</head>
</html>
