<!DOCTYPE html>
<html
	class="no-js"
	lang="zxx">
	<head>
		<meta charset="utf-8" />
		<meta
			http-equiv="x-ua-compatible"
			content="ie=edge" />
		<title>Doseal Limited | Home Page</title>
		<meta
			name="description"
			content="" />
		<meta
			name="keywords"
			content="" />

		<%- include('../includes/web/head.ejs') %>
		<body>
		<!--********************************
   		Code Start From Here
        ******************************** -->

        <!--==============================
        Preloader
        ==============================-->
			<div class="preloader">
				<div class="preloader-inner">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div>
			</div>

			<%- include('../includes/web/mobile-menu-and-top.ejs') %>
			<!--==============================
            Header Area
            ==============================-->
            <header class="nav-header header-layout1">
                <%- include('../includes/web/header.ejs') %>
            </header>

                    <!--==============================
            Hero Area
            ==============================-->
			<div
				class="hero-wrapper hero-1"
				id="hero">
				<div class="container">
					<div class="hero-style1">
						<div class="row">
							<div class="col-lg-12">
								<h1
									class="hero-title wow img-custom-anim-left"
									data-wow-duration="1.5s"
									data-wow-delay="0.1s">
									Smart Solutions
								</h1>
								<h1
									class="hero-title text-lg-end wow img-custom-anim-right"
									data-wow-duration="1.7s"
									data-wow-delay="0.1s">
									For A Smart World
								</h1>
							</div>
							<div class="col-lg-6 offset-lg-6">
								<p
									class="hero-text wow img-custom-anim-right"
									data-wow-duration="1.5s"
									data-wow-delay="0.1s">
									We push boundaries to create cutting-edge solutions that
									redefine energy management in Ghana and beyond. Our commitment
									to innovation drives us to continuously improve and deliver
									advanced technology that meets the evolving needs of our
									customers.
								</p>
								<div class="btn-group fade_right">
									<a
										href="about-us"
										class="btn wow img-custom-anim-right">
										<span class="link-effect">
											<span class="effect-1">READ MORE</span>
											<span class="effect-1">READ MORE</span>
										</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--======== / Hero Section ========-->

			<!--==============================
    About Area
    ==============================-->
			<div class="about-area-1 space bg-theme">
				<div
					class="about-img-1-1 shape-mockup img-custom-anim-left wow"
					data-left="0"
					data-top="-100px"
					data-bottom="140px"
					data-wow-duration="1.5s"
					data-wow-delay="0.1s">
					<img
						src="assets/web/images/about_1-1.webp"
						alt="img" />
				</div>
				<div class="container">
					<div class="row align-items-center justify-content-end">
						<div class="col-lg-6">
							<div class="overflow-hidden">
								<div class="about-content-wrap">
									<div class="title-area mb-0">
										<h2 class="sec-title">Download Doseal Pay App</h2>
										<p class="sec-text mt-35">
											Manage all your essential services in one convenient place
											with Doseal Pay. Our app allows you to handle payments for
											Prepaid or Postpaid Electricity, Water, and more
											effortlessly.
										</p>
										<p class="sec-text mt-30">
											Easily top up Airtime and Data bundles across all
											networks. Stay connected with quick payments for DSTV,
											GoTV, StarTimes TV, and other services.
										</p>
										<div class="btn-wrap mt-50">
											<a
												href="https://apps.apple.com/us/app/doseal-pay/id6736710898"
												style="display: inline-flex; align-items: center"
												target="_blank">
												<img
													src="/assets/web/images/doseal-apple.png"
													alt="Apple logo"
													style="width: 200px" />
											</a>

											<!-- Download for Android -->
											<a
												href="https://play.google.com/store/apps/details?id=com.dosealpay"
												style="display: inline-flex; align-items: center"
												target="_blank">
												<img
													src="/assets/web/images/doseal-google.png"
													alt="Android logo"
													style="width: 200px" />
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!--==============================
    Faq Area
    ==============================-->
			<div class="faq-area-1 space overflow-hidden">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-xl-6 col-lg-8">
							<div class="title-area text-center">
								<h2 class="sec-title">What We Can Do for Our Clients</h2>
							</div>
						</div>
						<div class="col-xl-8">
							<div
								class="accordion-area accordion"
								id="faqAccordion">
								<div class="accordion-card active">
									<div
										class="accordion-header"
										id="collapse-item-1">
										<button
											class="accordion-button"
											type="button"
											data-bs-toggle="collapse"
											data-bs-target="#collapse-1"
											aria-expanded="true"
											aria-controls="collapse-1">
											<span class="faq-number">01</span> Software Development
										</button>
									</div>
									<div
										id="collapse-1"
										class="accordion-collapse collapse show"
										aria-labelledby="collapse-item-1"
										data-bs-parent="#faqAccordion">
										<div class="accordion-body">
											<p class="faq-text">
												We offer full-cycle development services for web, mobile
												and desktop applications that are responsive and dynamic
												in nature. We convert your idea into solid, safe, and
												reliable custom software with our full-cycle software
												development services.
											</p>
										</div>
									</div>
								</div>

								<div class="accordion-card">
									<div
										class="accordion-header"
										id="collapse-item-2">
										<button
											class="accordion-button collapsed"
											type="button"
											data-bs-toggle="collapse"
											data-bs-target="#collapse-2"
											aria-expanded="false"
											aria-controls="collapse-2">
											<span class="faq-number">02</span> Technical Support
											<br />& Consultancy.
										</button>
									</div>
									<div
										id="collapse-2"
										class="accordion-collapse collapse"
										aria-labelledby="collapse-item-2"
										data-bs-parent="#faqAccordion">
										<div class="accordion-body">
											<p class="faq-text">
												We have highly qualified technical Support team who
												offer assistance to help resolve any IT related
												technical problems.
											</p>
										</div>
									</div>
								</div>

								<div class="accordion-card">
									<div
										class="accordion-header"
										id="collapse-item-3">
										<button
											class="accordion-button collapsed"
											type="button"
											data-bs-toggle="collapse"
											data-bs-target="#collapse-3"
											aria-expanded="false"
											aria-controls="collapse-3">
											<span class="faq-number">03</span> Business Automation
										</button>
									</div>
									<div
										id="collapse-3"
										class="accordion-collapse collapse"
										aria-labelledby="collapse-item-3"
										data-bs-parent="#faqAccordion">
										<div class="accordion-body">
											<p class="faq-text">
												Unlock efficiency and scalability by automating
												repetitive tasks. Business automation empowers your team
												to focus on what matters, reducing manual errors and
												accelerating growth.
											</p>
										</div>
									</div>
								</div>

								<div class="accordion-card">
									<div
										class="accordion-header"
										id="collapse-item-4">
										<button
											class="accordion-button collapsed"
											type="button"
											data-bs-toggle="collapse"
											data-bs-target="#collapse-4"
											aria-expanded="false"
											aria-controls="collapse-4">
											<span class="faq-number">04</span>
											Software Integrations
										</button>
									</div>
									<div
										id="collapse-4"
										class="accordion-collapse collapse"
										aria-labelledby="collapse-item-4"
										data-bs-parent="#faqAccordion">
										<div class="accordion-body">
											<p class="faq-text">
												Easily connect your favorite tools and platforms for
												smooth data flow and enhanced collaboration. With
												powerful integrations, streamline workflows, eliminate
												silos, and keep your teams aligned across all systems.
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!--==============================

    Team Area
    ==============================-->
			<div class="team-area-1 space overflow-hidden">
				<%- include('../includes/web/team.ejs') %>
			</div>

			<!--==============================
    Testimonial Area
    ==============================-->
			<!-- <div class="testimonial-area-1 space bg-theme">
			<div
				class="testimonial-img-1-1 shape-mockup wow img-custom-anim-right"
				data-wow-duration="1.5s"
				data-wow-delay="0.2s"
				data-right="0"
				data-top="-100px"
				data-bottom="140px">
				<img
					src="assets/web/img/testimonial/testi_thumb1_1.jpg"
					alt="img" />
			</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="title-area">
							<h2 class="sec-title">Testimonials</h2>
						</div>
						<div class="quote-icon">
							<img
								src="assets/web/img/icon/quote.svg"
								alt="icon" />
						</div>
						<div
							class="row global-carousel testi-slider1"
							data-slide-show="1"
							data-dots="true"
							data-xl-dots="true"
							data-ml-dots="true">
							<div class="col-lg-4">
								<div class="testi-box">
									<p class="testi-box_text">
										“It’s a pleasure working with Bunker. They understood our
										new brand positioning guidelines and translated them
										beautifully and consistently into our on-going marketing
										comms. The team is responsive, quick and always willing help
										winning partnership”
									</p>
									<div class="testi-box_profile">
										<h4 class="testi-box_name">Daniyel Karlos</h4>
										<span class="testi-box_desig"
											>Senior Director of Marketing</span
										>
									</div>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="testi-box">
									<p class="testi-box_text">
										“It’s a pleasure working with Bunker. They understood our
										new brand positioning guidelines and translated them
										beautifully and consistently into our on-going marketing
										comms. The team is responsive, quick and always willing help
										winning partnership”
									</p>
									<div class="testi-box_profile">
										<h4 class="testi-box_name">Daniyel Karlos</h4>
										<span class="testi-box_desig"
											>Senior Director of Marketing</span
										>
									</div>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="testi-box">
									<p class="testi-box_text">
										“It’s a pleasure working with Bunker. They understood our
										new brand positioning guidelines and translated them
										beautifully and consistently into our on-going marketing
										comms. The team is responsive, quick and always willing help
										winning partnership”
									</p>
									<div class="testi-box_profile">
										<h4 class="testi-box_name">Daniyel Karlos</h4>
										<span class="testi-box_desig"
											>Senior Director of Marketing</span
										>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> -->

			<!--==============================
    Blog Area
    ==============================-->
			<!-- <section class="blog-area space">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-xxl-7 col-xl-6 col-lg-8">
						<div class="title-area text-center">
							<h2 class="sec-title">Read Our Articles and News</h2>
						</div>
					</div>
				</div>
				<div class="row gy-40 justify-content-center">
					<div class="col-lg-4 col-md-6">
						<div class="blog-card">
							<div class="blog-img">
								<a href="blog-details.html">
									<img
										src="assets/web/img/blog/blog_1_1.png"
										alt="blog image" />
								</a>
							</div>
							<div class="blog-content">
								<div class="post-meta-item blog-meta">
									<a href="blog.html">March 26, 2024</a>
									<a href="blog.html">Branding</a>
								</div>
								<h4 class="blog-title">
									<a href="blog-details.html"
										>Everything You Should Know About Return</a
									>
								</h4>
								<a
									href="blog-details.html"
									class="link-btn">
									<span class="link-effect">
										<span class="effect-1">READ MORE</span>
										<span class="effect-1">READ MORE</span>
									</span>
									<img
										src="assets/web/img/icon/arrow-left-top.svg"
										alt="icon" />
								</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="blog-card">
							<div class="blog-img">
								<a href="blog-details.html">
									<img
										src="assets/web/img/blog/blog_1_2.png"
										alt="blog image" />
								</a>
							</div>
							<div class="blog-content">
								<div class="post-meta-item blog-meta">
									<a href="blog.html">March 26, 2024</a>
									<a href="blog.html">Branding</a>
								</div>
								<h4 class="blog-title">
									<a href="blog-details.html"
										>6 Big Commerce Design Tips For Big Results</a
									>
								</h4>
								<a
									href="blog-details.html"
									class="link-btn">
									<span class="link-effect">
										<span class="effect-1">READ MORE</span>
										<span class="effect-1">READ MORE</span>
									</span>
									<img
										src="assets/web/img/icon/arrow-left-top.svg"
										alt="icon" />
								</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="blog-card">
							<div class="blog-img">
								<a href="blog-details.html">
									<img
										src="assets/web/img/blog/blog_1_3.png"
										alt="blog image" />
								</a>
							</div>
							<div class="blog-content">
								<div class="post-meta-item blog-meta">
									<a href="blog.html">March 26, 2024</a>
									<a href="blog.html">Branding</a>
								</div>
								<h4 class="blog-title">
									<a href="blog-details.html"
										>Four Steps to Conduct a Successful Usability</a
									>
								</h4>
								<a
									href="blog-details.html"
									class="link-btn">
									<span class="link-effect">
										<span class="effect-1">READ MORE</span>
										<span class="effect-1">READ MORE</span>
									</span>
									<img
										src="assets/web/img/icon/arrow-left-top.svg"
										alt="icon" />
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section> -->

			<!--==============================
        Footer Area
    ==============================-->
			<footer class="footer-wrapper footer-layout1 overflow-hidden bg-smoke">
				<%- include('../includes/web/footer.ejs') %>
			</footer>

			<!--********************************
			Code End  Here
	******************************** -->

			<!-- Scroll To Top -->
			<div class="scroll-top">
				<svg
					class="progress-circle svg-content"
					width="100%"
					height="100%"
					viewBox="-1 -1 102 102">
					<path
						d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"
						style="
							transition: stroke-dashoffset 10ms linear 0s;
							stroke-dasharray: 307.919, 307.919;
							stroke-dashoffset: 307.919;
						"></path>
				</svg>
			</div>

			<!-- Jquery -->
			<%- include('../includes/web/jsfiles.ejs') %>
		</body>
	</head>
</html>
