<!doctype html>
<html class="no-js" lang="zxx">


<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Doseal Limited | Our Services</title>
    <meta
        name="description"
        content="" />
    <meta
        name="keywords"
        content="" />

    <%- include('../includes/web/head.ejs') %>
<body>
    <!--********************************
   		Code Start From Here
	******************************** -->




    <!--==============================
     Preloader
    ==============================-->
    <div class="preloader">
        <div class="preloader-inner">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <%- include('../includes/web/mobile-menu-and-top.ejs') %>
    <!--==============================
	Header Area
    ==============================-->
    <header class="nav-header header-layout3 bg-white">
        <%- include('../includes/web/header.ejs') %>
    </header>

    <!--==============================
    Breadcumb
    ============================== -->
    <div class="breadcumb-wrapper " data-bg-src="assets/web/images/services_bg.jpg">
        <div class="container">
            <div class="breadcumb-content">
                <h1 class="breadcumb-title">Our Services</h1>
            </div>
        </div>
    </div>

    <!--==============================
    Feature Area
    ==============================-->
    <div class="feature-area-1 space">
        <div class="container">
            <div class="row gy-4 align-items-center justify-content-center">
                <div class="col-xl-4 col-md-6">
                    <div class="feature-card">
                        <div class="feature-card-icon">
                            <img src="assets/web/img/icon/feature-icon1-1.svg" alt="icon">
                        </div>
                        <h4 class="feature-card-title">
                            <a href="service.html">Software Development</a>
                        </h4>
                        <p class="feature-card-text">We offer full-cycle development services for web, mobile and desktop applications that are responsive and dynamic in nature. </p>
                      
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="feature-card">
                        <div class="feature-card-icon">
                            <img src="assets/web/img/icon/feature-icon1-2.svg" alt="icon">
                        </div>
                        <h4 class="feature-card-title">
                            <a href="javascript::void(0)">Technical Support</a>
                        </h4>
                        <p class="feature-card-text">We have highly qualified technical Support team who offer assistance to help resolve any IT related technical problems.</p>
                       
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="feature-card">
                        <div class="feature-card-icon">
                            <img src="assets/web/img/icon/feature-icon1-4.svg" alt="icon">
                        </div>
                        <h4 class="feature-card-title">
                            <a href="javascript::void(0)">Business Automation</a>
                        </h4>
                        <p class="feature-card-text">Unlock efficiency and scalability by automating repetitive tasks. Business automation empowers your team to focus on what matters, reducing manual errors and accelerating growth.</p>
                        
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="feature-card">
                        <div class="feature-card-icon">
                            <img src="assets/web/img/icon/feature-icon1-3.svg" alt="icon">
                        </div>
                        <h4 class="feature-card-title">
                            <a href="javascript::void(0)">Software Integrations</a>
                        </h4>
                        <p class="feature-card-text">Easily connect your favorite tools and platforms for smooth data flow and enhanced collaboration. With powerful integrations, streamline workflows, eliminate silos, and keep your teams aligned across all systems.</p>
                        
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="feature-card">
                        <div class="feature-card-icon">
                            <img src="assets/web/img/icon/feature-icon1-5.svg" alt="icon">
                        </div>
                        <h4 class="feature-card-title">
                            <a href="javascript::void(0)">Business Strategy Development</a>
                        </h4>
                        <p class="feature-card-text">We create a strong business strategy for achieving sustainable growth and competitive advantage.</p>
                       
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="feature-card">
                        <div class="feature-card-icon">
                            <img src="assets/web/img/icon/feature-icon1-6.svg" alt="icon">
                        </div>
                        <h4 class="feature-card-title">
                            <a href="javascript::void(0)">Data Analytics and Business Intelligence</a>
                        </h4>
                        <p class="feature-card-text">Our Data Analytics and Business Intelligence (BI) services empower organizations to transform raw data into actionable insights. </p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--==============================
    Video Area
    ==============================-->
    <div class="video-area-1 overflow-hidden">
        <div class="container-fluid p-0">
            <div class="row">
                <div class="col-lg-12">
                    <div class="video-wrap">
                        <div class="jarallax" data-bg-src="assets/web/img/normal/video_2-1.jpg">
                        </div>
                        <a href="https://www.youtube.com/watch?v=vvNwlRLjLkU" class="play-btn popup-video background-image">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--==============================
    Marquee Area
    ==============================-->
    <div class="container-fluid p-0 overflow-hidden">
        <div class="slider__marquee clearfix marquee-wrap">
            <div class="marquee_mode marquee__group">
                <h6 class="item m-item"><a href="#"><i class="fas fa-star-of-life"></i> We Provide Seamless IT Solutions</a></h6>
                <h6 class="item m-item"><a href="#"><i class="fas fa-star-of-life"></i> We Drive Innovation Through Data</a></h6>
                <h6 class="item m-item"><a href="#"><i class="fas fa-star-of-life"></i> We Empower Smarter Business Decisions</a></h6>
                <h6 class="item m-item"><a href="#"><i class="fas fa-star-of-life"></i> We Deliver Flexible and Scalable Solutions</a></h6>
                
            </div>
        </div>
    </div>

    <!--==============================
        Footer Area
    ==============================-->
    <footer class="footer-wrapper footer-layout2 overflow-hidden">
        <%- include('../includes/web/footer.ejs') %>
    </footer>

    <!--********************************
			Code End  Here
	******************************** -->

    <!-- Scroll To Top -->
    <div class="scroll-top">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;"></path>
        </svg>
    </div>


    <!-- Jquery -->
    <%- include('../includes/web/jsfiles.ejs') %>